<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="container">
        <div class="titre-section">
            <div class="theTitre">
                <h2>{{tirage.libelle}}</h2>
                <!-- <p>
                    {{tirage.date}}
                </p> -->
            </div>
        </div>
        
        <section>
            <div class="details">
                <div class="topnav">
                    <div class="retour-liste">
                        <a routerLink="/detailsliste:/id"><p><i class="fa fa-hand-o-left" style="font-size:36px"></i> Retourner sur la liste</p></a> 
                     </div>
                    <div class="search-container">
                      <form action="/action_page.php">
                        <input type="text" placeholder="Rehercher postulant.." name="search" [(ngModel)]="searchListe"/>
                        <button type="submit"><i class="fa fa-search"></i></button>
                      </form>
                    </div>
                  </div>
            </div>
       
        </section>
        
        
   
        
      <section>
        <div class="listPostulant">
            <h2 class="text">Liste des postulants</h2>
            <table>
             <thead>
                 <th>N°</th>
                 <th>Nom</th>
                 <th>Prenom</th>
                 <th>Numero</th>
                 <th>Email</th>
             </thead>
             <tbody>
                 <tr *ngFor="let pt of tirage.postulantTries |filter:searchListe  | paginate: {itemsPerPage:7,currentPage: p}; let id = index">
                     <td>{{pt.postulants.id}}</td>
                     <td>{{pt.postulants.nom}}</td>
                     <td>{{pt.postulants.prenom}}</td>
                     <td>{{pt.postulants.numero}}</td>
                     <td>{{pt.postulants.email}}</td>
                 </tr>
                 <!-- <tr>
                     <td>2</td>
                     <td>test</td>
                     <td>test</td>
                     <td>444444</td>
                     <td>test@gmail.com</td>
                 </tr>
                 <tr>
                     <td>3</td>
                     <td>test</td>
                     <td>test</td>
                     <td>444444</td>
                     <td>test@gmail.com</td>
                 </tr> -->
             </tbody>
            </table>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
         </div>
      </section>
           
    </div>
</body>
</html>