<label class="titreLeft" for="">Importé une liste et effectué un tirage</label>

<div class="formLeft">
    <form id="import" #f="ngForm" (ngSubmit)="newTirage(f)">
        <input type="text" [(ngModel)]="libelle" id="libelle" name="libelle" placeholder="Libelle" ngModel required>
        <input type="number" [(ngModel)]="nbrPostulantNew" id="nbrPostulantNew" name="nbrPostulantNew" placeholder="Nombre de Postulant à Tirer" ngModel required>
        <input type="file" id="file" name="file" ngModel required>

        
        <button type="submit" [disabled]="f.form.invalid">Importer et Tirer</button>
    </form>
</div>