<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"> 
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="titre-section">
            <div class="theTitre">
                <h2>{{list.libelle}}</h2>
                <p>
                    {{list.date
                </p>
            </div>
        </div>
        
        <section>
            <div class="details">
                <div class="topnav">
                    <p>Historique des tirages sur cette liste</p>
                    <div class="search-container">
                        <input type="text" placeholder="Rehercher postulant.." [(ngModel)]="searchText">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
            </div>
       
            <div class="tirageHistorique">
                <div class="sousTirageHistorique">
                     <div class="elementHistorique"  *ngFor="let t of list.tirages" [routerLink]="['/detailtirage', t.id]">
                         <p>{{t.libelle}</p>
                         <p>{{t.date</p>
                     </div>
                </div> 
             </div>
        </section>
        
        
   
    <section>

            <div class="listPostulant">
                <h2 class="text">Liste des postulants</h2>
                <table>
                 <thead>
                     <th>N°</th>
                     <th>Nom</th>
                     <th>Prenom</th>
                     <th>Numero</th>
                     <th>Email</th>
                 </thead>
                 <tbody>
                    <tr *ngFor = "let postulant of list.postulant |filter:searchText  | paginate: {itemsPerPage:7,currentPage: p}; let id = index">
                        <td> {{ postulant.id }}</td> 
                        <td> {{ postulant.nom }}</td>
                        <td> {{ postulant.prenom }}</td>
                        <td> {{ postulant.numero }}</td>
                        <td> {{ postulant.email }}</td>
                     </tr>
                 </tbody>
                 
                </table>

                <div class="sous-liste">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    <a href="" class="btn btn success">Ajouter</a>
                </div>
               
             </div>
          </section>
        
    </div>

</body>
</html>